.search-results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-results-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
