.wip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.wip-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}
