name: Build & Push Docker image

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Build the application
        run: |
          npm install
          npm run build openfilz-ui

      - name: Login to GHCR
        run: |
          docker login ghcr.io \
            -u ${{ github.actor }} \
            -p ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build -t ghcr.io/openfilz/openfilz-web:latest .

      - name: Push image
        run: docker push ghcr.io/openfilz/openfilz-web:latest
